In [6]:
# this is a comment in a single line

In [7]:
'''  this is another way to write
 a comment! '''

'  this is another way to write\n a comment! '

In [5]:
"""more ways to commets yay \n
also in multiple lines!"""

'more ways to commets yay \n\nalso in multiple lines!'

In [12]:
variable = 45
variable_2 = 'this is text'
variable_3 = 45.474
variable_4 = False
variable_5 = None

In [10]:
variable_2

'this is text'

In [17]:
type(variable_3)

float

In [18]:
import sys

type(sys)

module

In [19]:
y = 4.6
type(y)
print(y)

4.6

In [21]:
x = """ this is \n a verrrryyyy \n long string """

print(x)

 this is
 a verrrryyyy
 long string

In [25]:
rounded = round(y)
print(rounded)
type(rounded)

5

int

In [26]:
long_float = 45.33567
test_rounding = round (long_float, 4)
test_rounding

45.3357

In [28]:
list_1 = ['this is a list', 'that contains', 'both strings and numbers:', 234, 34.56]
print(list_1)
type(list_1)

['this is a list', 'that contains', 'both strings and numbers:', 234, 34.56]

list

In [29]:
list_2 = [variable, variable_2, variable_3]
print(list_2)

[45, 'this is text', 45.474]

In [32]:
tuple_1 = ("this is a tuple", "that contains", "str and numbers", 243, 24.56)

print(type(tuple_1))

print(tuple_1)

#tuple immutable /unchangeable

<class 'tuple'>
('this is a tuple', 'that contains', 'str and numbers', 243, 24.56)

In [33]:
#access first vaule in list

list_1[0]

'this is a list'

In [36]:
#access range of values
print(tuple_1[3:])
print(tuple_1[2:4])

(243, 24.56)
('str and numbers', 243)

In [37]:
#try to change immutable dt

tuple_1[3] = 345

TypeError: 'tuple' object does not support item assignment

In [38]:
#change list item
print(list_1[3])
list_1[3] = 42
print(list_1[3])

234
42

In [43]:
#dictionaries

this_dict = {
    "key":"values",
    "name":"jupyter",
    "style":"lab",
    "version":3.3}

print(this_dict["name"])

print(type(this_dict))

jupyter
<class 'dict'>

In [44]:
test_dict = {
    1:"one",
    2:"two",
    3:"three"}

test_dict

{1: 'one', 2: 'two', 3: 'three'}

In [51]:
#initialising variables
empty_str = ""
empty_int = int()
empty_float = float()
empty_list = []
empty_tuple = ()
empty_dict = {}

print(type(empty_str), type(empty_int), type(empty_float))

<class 'str'> <class 'int'> <class 'float'>

In [ ]:
#pep - python enhancement proposals

In [52]:
#loops
x = 4
if x > 1:
  print("yes")

yes

In [55]:
x = "other thing"

if x == True:
  print("True")
elif x == "other thing":
  print("uh oh")
elif x == False:
  print("FALSE!!")
else:
  print(None)

uh oh

In [57]:
#for loop, lopps through colection of objects or range

for_list = ["apple", "banana", "orange"]

for x in for_list:
  print(x)
  #i because item iterable, or mathematical index

for x in list_1:
  print(x)

apple
banana
orange
this is a list
that contains
both strings and numbers:
42
34.56

In [64]:
#while loop, stops once condition is met
a = 1
print(a)
while a < 10:
  print(a)
  a = a + 1
  #e.g. iterate though db until specific file is found

1
1
2
3
4
5
6
7
8
9